<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<h1 class="title is-1 has-text-white">Edita tu pregunta</h1>

<%= notice %>
<%if current_user.id == @question.user_id or current_user.admin%>
    <%= form_with(model: @question, method: :patch, url: questions_update_path(:id => @question.id)) do |form| %>

        <div>
            <%= form.label :Title %>
            <%= form.text_field :title %>
        </div>

        

        <div>
            <%= form.label :Description %>
            <%= form.text_field :description %>
        </div>

        
        

        <div>
            <%= form.label :Publication_date %>
            <%= form.text_field :publication_date %>
        </div>

        <div>

            <%= form.submit 'Editar pregunta' %>
        </div>

    <% end %>
    <%= link_to 'Volver', questions_show_path(:id => @question.id) %>

<%end%>