<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<h1 class="title is-1 has-text-white">Preguntas</h1>

<%= notice %>
<%if current_user%>


<br>
<br>
<div class="columns">
  <% @aula.questions.each do |question| %>
  <div class="column has-background-link-dark">
  <a class="has-text-white is-size-2 has-text-weight-bold"><%= question.title%></a>
  <br>
  <p class="has-text-white">Descripción: <%= question.description%></p>
  <p class="has-text-white">Fecha de publicación: <%= question.publication_date%></p>
  <p class="has-text-white"><span class="icon-text">
  <span class="icon has-text-white">
    <i class="fas fa-arrow-right"></i>
  </span>
  <span class="a has-text-white"><%= link_to 'Ver detalles', questions_show_path(:id => question.id) %></span>
</span>
</p>
</div>
<% end %>
<% end %>
</div>

    <span class="icon-text">
  <span class="icon has-text-white">
    <i class="fas fa-arrow-right"></i>
  </span>

  <span><td><%= link_to 'Volver a ver los cursos', cursos_index_path(:id => @aula.curso_id)%></td></span>


<span class="icon-text">
  <span class="icon has-text-white">
    <i class="fas fa-arrow-right"></i>
  </span>
  <span><td><%= link_to 'Subir una nueva pregunta', questions_new_path(:id => @aula.id)%></td></span>
</span>

