<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<h1 class="title is-1 has-text-white">Subir una nueva respuesta</h1>

<%= notice %>
<%if current_user%>
    <%= form_with(model: @question, method: :post) do |form| %>

        <div>
            <%= form.label :Title %>
            <%= form.text_field :title %>
        </div>

        <div>
            <%= form.label :Description %>
            <%= form.text_field :description %>
        </div>

    
        <div>
            <%= form.label :Publication_date %>
            <%= form.text_field :publication_date %>
        </div>
        <div>
            <%= form.number_field :user_id, id: :question_user_id,
            class:"form-control", value: current_user.id, type: :hidden%>
        </div>

        <div>
            <%@aula = Aula.find_by(id: params[:id])%>
            <%= form.number_field :aula_id, id: :aula_id, value:@aula.id, type: "hidden"%>
        </div>
        
        <div>
            <%= form.submit 'Crear question' %>
        </div>

    <% end %>

    <span class="icon-text">
  <span class="icon has-text-white">
    <i class="fas fa-arrow-right"></i>
  </span>
  <span><td><%= link_to 'volver', questions_index_path(:id => @aula.id) %></td></span>
</span>

<%end%>