<%= notice %>
<%if current_user%>
    <h1>
        <%= @question.title %>
    </h1>

    <p>
        <strong>Description: </strong>
        <%= @question.description %>
    </p>

    <p>
        <strong>Course: </strong>
        <%= @question.course %>
    </p>

    <p>
        <strong>Publication date: </strong>
        <%= @question.publication_date %>
    </p>

    <%= link_to 'Go back', questions_index_path %>
    <%= link_to 'View answers', answers_index_path %>
    <%if current_user.id == @question.user_id or current_user.admin%>
        <%= link_to 'Edit question', questions_edit_path(:id => @question.id) %>
        <%= link_to 'Delete question', questions_delete_path(:id => @question.id), method: :delete %>
    <%end%>
<%end%>