<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<h1 class="title is-1 has-text-white">Edita tu aula</h1>
<%= notice %>
<%if current_user.id == @aula.user_id or current_user.admin%>
    <%= form_with(model: @aula, method: :patch, url: aulas_update_path(:id => @aula.id)) do |form| %>

        <div>
            <%= form.label :Name %>
            <%= form.text_field :name %>
        </div>

        <div>
            <%= form.label :Duration %>
            <%= form.text_field :duration %>
        </div>

        <div>
            <%= form.label :Theme %>
            <%= form.text_field :theme %>
        </div>

        <div>
            <%= form.label :Date %>
            <%= form.text_field :date %>
        </div>

        <div>
            <%= form.label :Number %>
            <%= form.text_field :number %>
        </div>

        <div>
            <%= form.label :Associated_video %>
            <%= form.text_field :associated_video %>
        </div>



        <div>
            <%= form.submit 'Editar aula' %>
        </div>

    <% end %>
    <%= link_to 'atrás', aulas_show_path(:id => @aula.id) %>
<% end %>