<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<h1 class="title is-1 has-text-white">Aulas</h1>

<%= notice %>
<%if current_user%>


<br>
<br>
<div class="columns">
  <% @curso.aulas.each do |aula| %>
  <div class="column has-background-link-dark">
  <a class="has-text-white is-size-2 has-text-weight-bold"><%= aula.name%></a>
  <br>
  <p class="has-text-white">Duración: <%= aula.duration%></p>
  <p class="has-text-white">Tema: <%= aula.theme%></p>
  <p class="has-text-white">Fecha: <%= aula.date%></p>
  <p class="has-text-white">Numero: <%= aula.number%></p>
  <p class="has-text-white"><span class="icon-text">
  <span class="icon has-text-white">
    <i class="fas fa-arrow-right"></i>
  </span>
  <span class="a has-text-white"><%= link_to 'Ver detalles', aulas_show_path(:id => aula.id) %></span>
</span>
</p>
</div>
<% end %>
<% end %>
</div>

    <span class="icon-text">
  <span class="icon has-text-white">
    <i class="fas fa-arrow-right"></i>
  </span>

  <span><td><%= link_to 'Volver a ver los cursos', cursos_index_path%></td></span>


<span class="icon-text">
  <span class="icon has-text-white">
    <i class="fas fa-arrow-right"></i>
  </span>
  <span><td><%= link_to 'Subir una nueva aula', aulas_new_path(:id => @curso.id)%></td></span>
</span>