<h1>Edit your curso</h1>

<%= form_with(model: @curso, method: :patch, url: cursos_update_path(:id => @curso.id)) do |form| %>

    <div>
        <%= form.label :Name %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :Description %>
        <%= form.text_field :description %>
    </div>

    <div>
        <%= form.label :Duration %>
        <%= form.text_field :duration %>
    </div>

    <div>
        <%= form.label :Teacher %>
        <%= form.text_field :teacher %>
    </div>

    <div>
        <%= form.label :Price %>
        <%= form.text_field :price %>
    </div>

    <div>
        <%= form.submit 'Edit curso' %>
    </div>

<% end %>
<%= link_to 'Go back', cursos_show_path(:id => @curso.id) %>