<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<h1 class="title is-1 has-text-white">Respuestas</h1>

<%= notice %>
<%if current_user%>


<br>
<br>
<div class="columns">
  <% @question.answers.each do |answer| %>
  <br>
  <p class="has-text-white">Contenido: <%= answer.content%></p>
  <p class="has-text-white"><span class="icon-text">
  <span class="icon has-text-white">
    <i class="fas fa-arrow-right"></i>
  </span>
  <span class="a has-text-white"><%= link_to 'Ver detalles', answers_show_path(:id => answer.id) %></span>
</span>
</p>
</div>
<% end %>
<% end %>
</div>

    <span class="icon-text">
  <span class="icon has-text-white">
    <i class="fas fa-arrow-right"></i>
  </span>
  <span><td><%= link_to 'Volver a ver las preguntas', questions_index_path(:id => @question.aula_id)%></td></span>
</span>

<span class="icon-text">
  <span class="icon has-text-white">
    <i class="fas fa-arrow-right"></i>
  </span>
  <span><td><%= link_to 'Subir una nueva respuesta', answers_new_path(:id => @question.id)%></td></span>
</span>

