<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<h1 class="title is-1 has-text-white">Subir una nueva respuesta</h1>

<%= notice %>
<%if current_user%>
    <%= form_with(model: @answer, method: :post) do |form| %>

        <div>
            <%= form.label :Content %>
            <%= form.text_field :content %>
        </div>


        <div>
            <%= form.submit 'Crear answer' %>
        </div>
        
        <div>
            <%= form.number_field :user_id, id: :answer_user_id,
            class:"form-control", value: current_user.id, type: :hidden%>
        </div>

        <div>
            <%@question = Question.find_by(id: params[:id])%>
            <%= form.number_field :question_id, id: :question_id, value:@question.id, type: "hidden"%>
        </div>

    <% end %>

    <span class="icon-text">
  <span class="icon has-text-white">
    <i class="fas fa-arrow-right"></i>
  </span>
  <span><td><%= link_to 'volver', answers_index_path(:id => @question.id) %></td></span>
</span>

<%end%>
