<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<h1 class="title is-1 has-text-white">Edita tu review</h1>

<%= notice %>
<%if current_user.id == @review.user_id or current_user.admin%>
    <%= form_with(model: @review, method: :patch, url: reviews_update_path(:id => @review.id)) do |form| %>

        
        <div>
            <%= form.label :Description %>
            <%= form.text_field :description %>
        </div>

        <div>
            <%= form.label :Punctuation %>
            <%= form.text_field :punctuation %>
        </div>

        <div>
            <%= form.submit 'Editar review' %>
        </div>

        
    <% end %>
    <%= link_to 'atrás', reviews_show_path(:id => @review.id) %>
<%end%>