<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<h1 class="title is-1 has-text-white">Reviews</h1>

<%= notice %>
<%if current_user%>


<br>
<br>
<div class="columns">
  <% @curso.reviews.each do |review| %>
  <div class="column has-background-link-dark">
  <p class="has-text-white">Descripción: <%= review.description%></p>
  <p class="has-text-white">Puntuación: <%= review.punctuation%></p>
  <p class="has-text-white"><span class="icon-text">
  <span class="icon has-text-white">
    <i class="fas fa-arrow-right"></i>
  </span>
  <span class="a has-text-white"><%= link_to 'Ver detalles', reviews_show_path(:id => review.id) %></span>
</span>
</p>
</div>
<% end %>
<% end %>
</div>

    <span class="icon-text">
  <span class="icon has-text-white">
    <i class="fas fa-arrow-right"></i>
  </span>

  <span><td><%= link_to 'Volver a ver los cursos', cursos_index_path%></td></span>


<span class="icon-text">
  <span class="icon has-text-white">
    <i class="fas fa-arrow-right"></i>
  </span>
  <span><td><%= link_to 'Subir una nueva review', reviews_new_path(:id => @curso.id)%></td></span>
</span>