<h1>Upload a new review</h1>

<%= form_with(model: @review, method: :post) do |form| %>

    <div>
        <%= form.label :Description %>
        <%= form.text_field :description %>
    </div>

    <div>
        <%= form.label :Punctuation %>
        <%= form.number_field :punctuation %>
    </div>

    <div>
        <%= form.label :Curso_asociado %>
        <%= form.number_field :curso_asociado %>
    </div>

    <div>
        <%= form.submit 'Create review' %>
    </div>

<% end %>
<%= link_to 'Go back', reviews_index_path %>