<!DOCTYPE html>
<html>
  <head>
    <title>Ejemplo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body align='center'>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if current_user %>

    <span class="icon-text">
  <span class="icon has-text-white">
    <i class="fas fa-arrow-right"></i>
  </span>
  <span><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></span>
</span>

      
    <% else %>

    <span class="icon-text">
  <span class="icon has-text-white">
    <i class="fas fa-arrow-right"></i>
  </span>
  <span><%= link_to "Iniciar Sesión", new_user_session_path %></span>
</span>

<span class="icon-text">
  <span class="icon has-text-white">
    <i class="fas fa-arrow-right"></i>
  </span>
  <span><%= link_to "Registrarme", new_user_registration_path %></span>
</span>
      
      
    <% end %>
    <%= yield %>
  </body>
</html>
